<h3>Followers</h3>

<p><%= @followers.count %> users follow you</p>

<% if @followers %>
	<ul>
		<% @followers.each do |follower| %>
			<li>
				<%= follower.username %>
				
				<form action="unfollow" method="post">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type="hidden" name="follower_id" value="<%= follower.id %>">
					<input type="submit" value="Ignore">
				</form>
				
			</li>
		<% end %>
	</ul>
<% end %>