<h3>Activity</h3>

<% if @activs %>
	<ul><hr>
	<% @activs.each do |activ| %>
		<li>
			<%= time_ago_in_words(activ.created_at) %> ago | <%= activ.created_at.to_time.strftime('%A, %B %e ') %><br>
			<%= activ.sent_user_id == current_user.id ? activ.sent_title : activ.got_title %><hr>
		</li>
	<% end %>
	</ul>
<% end %>