<div class="relative">
	<a href="<%= public_url(current_user.id) %>">
		<div class="post_avatar_top relative">
			<%= image_tag current_user.avatar.url(:small) %>
			<div class="selector_left">
			</div>
		</div>
	</a>
</div>

<div class="new_post_menu">
	<ul>
		<a href="<%= new_post_url %>" id="new_post_text_form">
			<li style="border-left:0; margin-left:6px; opacity:1;">
				<div class="relative"><img src="/assets/top_text.png"></div>
				Text
			</li>
		</a>
		
		<li>
			<div class="relative"><img src="/assets/top_photo.png"></div>
			Photo
		</li>
		
		<li>
			<div class="relative"><img src="/assets/top_quote.png"></div>
			Quote
		</li>
		
		<li>
			<div class="relative"><img src="/assets/top_link.png"></div>
			Link
		</li>
		
		<li>
			<div class="relative"><img src="/assets/top_chat.png"></div>
			Chat
		</li>
		
		<li>
			<div class="relative"><img src="/assets/top_audio.png"></div>
			Audio
		</li>
		
		<li>
			<div class="relative"><img src="/assets/top_video.png"></div>
			Video
		</li>
	</ul>
	
	<div id="insert_here_new_form"></div>
</div>