/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

body, h1, h2, h3, h3, h4, h5, h6,
p, div, a {
	padding: 0;
	margin: 0;
	border: 0;
	text-decoration: none;
	font: normal 14px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased;
}

.clearfix {
	clear: both;
}

.container {
	width: 900px;
	margin: auto;
	padding: 0 30px;
}