/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require other
*/
html {
    height: 102%;
}

body, h1, h2, h3, h3, h4, h5, h6,
p, div, a, img, ul, li, nav, form, input, button {
	padding: 0;
	margin: 0;
	border: 0;
	text-decoration: none;
	font: normal 14px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
	color: #94A2B0;
	list-style: none;
	outline: none;
}

body {
	background: #284764 url('gradient_bg.png') top repeat-x;
}

.clearfix {
	clear: both;
}

#container {
	width: 900px;
	margin: 0 auto;
	padding: 0 30px;
}

#header {
	height: 71px;
	line-height: 71px;
	padding: 0 20px 0 15px;
}

#logo {
	vertical-align: middle;
	display: inline-block;
}

#user_tools {
	width: 500px;
	height: 50px;
	padding-top: 15px;
	float: right;
}

nav li {
	width: 35px;
	height: 38;
	line-height: 38px;
	padding: 0 9px;
	float: left;
	text-align: center;
	position: relative;
}

nav img {
	vertical-align: middle;
	opacity: 0.8;
}

nav img:hover {
	opacity: 1;
}

.low_opacity {
	opacity: 0.2;
}

#content {
	background-color: #2A4763;
	width: 860px;
	padding: 20px;
	border-radius: 15px;
}

#left_column {
	width: 625px;
}

#posts {
	width: 540px;
	margin-left: 85px;
}

.post {
	width: 540px;
	padding: 15px 0;
	margin: 20px 0;
	background: #fff;
	border-radius: 6px;
}

.first_post {
	width: 540px;
	padding: 15px 0;
	margin: 0 0 20px 0;
	background: #fff;
	border-radius: 6px;
}

.active_sidebar {
	background-color: #2F4B66;
	opacity: 1;
}

.menu {
	float: right;
	width: 215px;
	color: #94A2B0;
}

.menu li {
	color: #94A2B0;
	border-top: 1px solid #465E76;
	position: relative;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
}

.menu li span {
	font-weight: bold;
}

.menu li a img {
	position: absolute;
	top: 8px;
	left: 10px;
}

.menu li a {
	color: #fff;
	opacity: 0.5;
	display: block;
	padding: 0 13px 0 40px;
	line-height: 36px;
	position: relative;
}

.menu li a:hover {
	background-color: #3A556E;
}

#user_blog_info {
	color: #94A2B0;
	padding: 0 13px 7px 13px;
	white-space: nowrap;
	overflow: hidden;
	border-bottom: 1px solid #465E76;
}

#blog_name_top {
	line-height: 17px;
	max-width: 160px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#username_top {
	color: #697D91;
	font-size: 13px;
	max-width: 160px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.menu_divider {
	font-size: 12px;
	font-weight: bold;
	color: #697D91;
	text-transform: uppercase;
	margin-top: 26px;
	padding: 0 12px;
	line-height: 27px;
}

.recommended_blogs {
	float: left;
	width: 125px;
	margin: 8px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.menu_has_follow_button form {
	float: left;
}

.follow_button button {
	width: 25px;
	height: 25px;
	border-radius: 5px;
	border: 0;
	font-size: 15px;
	font-weight: bold;
	color: #2A4763;
	margin-top: 15px;
	background-color: #556B82;
}

.follow_button button:hover {
	background-color: #509FCB;
	color: #fff;
	cursor: pointer;
}

.recommended_avatar {
	background-image: url('avatar_37_default1.png');
	float: left;
	height: 37px;
	width: 37px;
	background-color: #6a4676;
	border-radius: 3px;
	margin: 8px 10px;
}

.post_username {
	color: #A7A7A7;
	font-size: 13px;
	line-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	width: 500px;
	margin: -3px 20px 13px 20px;
	white-space: nowrap;
}

.post_title {
	color: #444444;
	font-size: 22px;
	font-weight: bold;
	line-height: 1.3;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	width: 500px;
	margin: 0 20px 10px 20px;
	white-space: nowrap;
}

.post_body {
	color: #444444;
	width: 500px;
	margin: 0 20px;
}

.post_footer {
	position: relative;
	bottom: -15px;
	border-radius: 5px;
	background-color: #F4F4F4;
	height: 45px;
	line-height: 45px;
}





.button_unlike {
	background-image: url('icon_like_red.png');
	height: 20px;
	width: 20px;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 13px;
}

.button_unlike:hover {
	background-image: url('icon_like_black.png');
	opacity: 0.5;
}

.button_like {
	background-image: url('icon_like_black.png');
	opacity: 0.5;
	height: 20px;
	width: 20px;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 13px;
}

.button_like:hover {
	background-image: url('icon_like_red.png');
	opacity: 1;
}

.button_options {
	background-image: url('icon_options_black.png');
	opacity: 0.3;
	height: 20px;
	width: 20px;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 13px;
}

.button_options:hover {
	opacity: 0.5;
}

.options_menu {
	width: 128px;
	height: 66px;
	padding: 4px 0;
	position: absolute;
	top: 50px;
	right: -35px;
	background-color: #fff;
	border: 1px solid #ADADAD;
	border-radius: 6px;
  box-shadow: 5px 5px 20px 0 #222;
}

a.option_menu_list_item {
	line-height: 32px;
	padding: 9px 85px 9px 14px;
	font-size: 15px;
	color: #444;
	font-weight: bold;
	font-size: 15px;
}

input.option_menu_list_item {
	line-height: 35px;	
	height: 35px;
	width: 128px;
	padding: 0 85px 10px 14px;
/*	padding: 5px 25px 5px 14px;*/
	margin: 0;
	font-weight: bold;
	font-size: 15px;
	color: #444;
	cursor: pointer;
	background: transparent;
	text-align: left;
}

.option_menu_list_item:hover {
	background-color: #E6EFF7;
}




.float_left {
	float: left;
}

.float_right {
	float: right;
}

.relative {
	position: relative;
}

.hidden {
	display: none;
}

.post_avatar img {
	width: 64px;
	height: 64px;
	background-color: #694777;
	position: absolute;
	left: -84px;
	top: -15px;
	border-radius: 6px;
}

.post_my_avatar {
	background-image: url('avatar_64_me.png');
	width: 64px;
	height: 64px;
	background-color: #694777;
	position: absolute;
	left: -84px;
	top: -15px;
	border-radius: 6px;
}

.post_avatar_top {
	background-image: url('avatar_64_me.png');
	width: 64px;
	height: 64px;
	background-color: #694777;
	position: absolute;
	left: -84px;
	border-radius: 6px;
}

.new_post_menu {
	width: 540px;
	height: 99px;
	margin-bottom: 20px;
	background-color: #fff;
	border-radius: 6px;
}

.new_post_menu li {
	position: relative;
	float: left;
	width: 74px;
	height: 20px;
	padding: 61px 1px 18px 0;
	border-left: 1px solid #EEEEEE;
	text-align: center;
	opacity: 0.5;
}

.new_post_menu img {
	position: absolute;
	top: -48px;
	left: 13px;
	transition: 0.1s ease;
}

.new_post_menu li:hover img {
	top: -53px;
}

.new_post_container {
	height: 270px;
	width: 500px;
	padding: 20px;
	background: #fff;
	border-radius: 10px;
}

.new_post_top_info {
	font-size: 13px;
	color: #B1B1B1;
	font-weight: bold;
	margin-bottom: 20px;
	-webkit-font-smoothing: antialiased;
}

.new_post_form > input,
.new_post_form > textarea {
	padding: 10px 12px;
	width: 475px;
	border: 1px solid #E3E3E3;
	border-radius: 3px;
	font-size: 13px;
	color: #444;
	-webkit-font-smoothing: antialiased;
	outline: none;
}

.new_post_form > input {
	height: 18px;
}

.new_post_form > textarea {
	height: 100px;
}

.new_post_form_checkbox {
	width: 20px;
	height: 30px;
	line-height: 30px;
	float: left;
}

.word_draft_center {
	line-height: 30px;
	color: #444;
	font-weight: bold;
	float: left;
	-webkit-font-smoothing: antialiased;
}

.new_post_form input[type="submit"] {
	width: 70px;
	height: 32px;
	background-color: #4D9ECD;
	color: #fff;
	border-radius: 5px;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	cursor: pointer;
	margin-top: 5px;
}

.new_post_cancel {
	width: 70px;
	height: 32px;
	line-height: 32px;
	margin-top: 5px;
	background-color: #9DA6AF;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
}

.selector_left {
	background-image: url('selector_white_left.png');
	width: 9px;
	height: 16px;
	top: 24px;
	left: 75px;
	position: absolute;
}

.selector_top {
	background-image: url('selector_blue_up.png');
	width: 24px;
	height: 12px;
	top: 45px;
	left: 14px;
	position: absolute;
}

.selector_top_white {
	background-image: url('selector_white_up.png');
	width: 24px;
	height: 12px;
	top: -11px;
	left: 51px;
	position: absolute;
}

.button_publish {
	padding: 6px 0;
	line-height: 45px;
	font-size: 13px;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	position: relative;
	right: 60px;
}

.new_post_error {
	float: left;
	line-height: 30px;
	padding-left: 20px;
	color: salmon;
}

.menu_pointer {
	width: 7px;
	height: 36px;
	position: absolute;
	right: 10px;
	background: url('/assets/menu_pointer.png');
}

.profile_settings > input {
	padding: 10px 12px;
	width: 550px;
	height: 18px;
	border: 1px solid #E3E3E3;
	border-radius: 3px;
	font-size: 13px;
	color: #444;
	-webkit-font-smoothing: antialiased;
	outline: none;
}

.profile_settings input[type="submit"] {
	width: 70px;
	height: 32px;
	background-color: #4D9ECD;
	color: #fff;
	border-radius: 5px;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	cursor: pointer;
	margin-top: 5px;
}

.profile_settings_error {
	margin-top: 10px;
	float: left;
	line-height: 30px;
	color: salmon;
}

.flash_messages {
	position: absolute;
	left: 850px;
	top: 18px;
	max-width: 350px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 12px;
	padding: 8px 15px;
	border: 2px solid #2aa315;
	background: #248713;
	color: white;
	border-radius: 5px;
}

.post_footer_flash {
	color: #2aa315;
	line-height: 45px;
	margin-left: 20px;
}

.dark-layer {
	position: fixed;
	background-color: #071638;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	z-index: 1;
}

.word_divider {
	font-weight: bold;
	margin: 30px 0 10px 0;
	color: #444444;
}

.word_divider:first-of-type {
	margin-top: 0;
}

.group:after {
	content: "";
	display: block;
	clear: both;
}