/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

body, h1, h2, h3, h3, h4, h5, h6,
p, div, a, img, ul, li, nav {
	padding: 0;
	margin: 0;
	border: 0;
	text-decoration: none;
	font: normal 14px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
	color: #444;
/*	-webkit-font-smoothing: antialiased;*/
	list-style: none;
}

body {
	background-color: #375876;
}

.clearfix {
	clear: both;
}

#container {
	width: 900px;
	margin: 0 auto;
	padding: 0 30px;
}

#header {
	height: 71px;
	line-height: 71px;
	padding: 0 20px 0 15px;
}

#logo {
	vertical-align: middle;
	display: inline-block;
}

#user_tools {
	width: 500px;
	height: 50px;
	padding-top: 15px;
	float: right;
}

nav li {
	width: 35px;
	height: 38;
	line-height: 38px;
	padding: 0 9px;
	float: left;
	text-align: center;
}

nav img {
	vertical-align: middle;
	opacity: 0.8;
}

nav img:hover {
	opacity: 1;
}

.low_opacity {
	opacity: 0.2;
}

#content {
	background-color: #2A4763;
	width: 860px;
	padding: 20px;
	border-radius: 15px;
}

#left_column {
	width: 625px;
}

#posts {
	width: 540px;
	margin-left: 85px;
}

.post {
	width: 540px;
	padding: 15px 0;
	margin: 20px 0;
	background: #fff;
	border-radius: 6px;
}

.first_post {
	width: 540px;
	padding: 15px 0;
	margin: 0 0 20px 0;
	background: #fff;
	border-radius: 6px;
}

.menu {
	float: right;
	width: 215px;
	color: #94A2B0;
}

.menu li {
	color: #94A2B0;
}

.menu li a {
	color: #94A2B0;
	display: block;
	padding: 0 13px 0 40px;
	line-height: 36px;
}

.menu li a:hover {
	background-color: #2F4B66;
}