/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

body, h1, h2, h3, h3, h4, h5, h6,
p, div, input, button, a {
	padding: 0;
	margin: 0;
	border: 0;
	text-decoration: none;
	font: 16px Helvetica;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
}

.clearfix {
	clear: both;
}

.auth_bg {
/*	background: url('_auth_bg2.gif') no-repeat center center fixed;*/
	background-color: #375876;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
	width: 232px;
	margin: 170px auto 10px auto;
}

.auth_input {
	border-radius: 2px;
	border-bottom: 1px solid #E3E3E3;
	outline: none;
  width: 260px;
  padding: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	font-weight: normal;
}

.auth_action {
	background-color: #4D9ECD;
	color: white;
	margin: 10px 0;
	cursor: pointer;
	border: 0;
	font-weight: bold;
}

.bottom {
	position: absolute;
	bottom: 46px;
	left: 20px;
	background: rgba(255,255,255,0.3);
	color: #fff;
  width: 102px;
	height: 45px;
	text-align: center;
	border: 0;
	font-weight: bold;
}

.center {
	width: 262px;
	margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.text {
	text-align: center;
	color: #fff;
	width: 340px;
	position: relative;
	left: -40px;
	margin-bottom: 20px;
	line-height: 24px;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

.auth_error {
	width: 230px;
	padding: 14px 15px;
	margin: 15px 0 5px 0;
	background: rgba(0, 0, 0, 0.2);
	text-align: center;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
}

.button_demo_login {
	position: absolute;
	top: 20px;
	left: 20px;
	background: rgba(255,255,255,0.3);
	color: #fff;
	height: 45px;
	text-align: center;
	border: 0;
	font-weight: bold;
	padding: 0 10px;
	border-radius: 2px;
	cursor: pointer;
	outline: none;
}