<!DOCTYPE html>
<html>
<head>
  <title>Tumblr Clone</title>
  <%= stylesheet_link_tag    "auth", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>	

<%= yield %>

<script>
	var images = ['auth_bg1.jpg', 'auth_bg2.gif', 'auth_bg3.jpg', 'auth_bg4.jpg', 'auth_bg5.jpg', 'auth_bg6.jpg', 'auth_bg7.jpg'];
	$('.auth_bg').css({'background-image': 'url(/assets/' + images[Math.floor(Math.random() * images.length)] + ')'});
</script>

</body>
</html>
