<!DOCTYPE html>
<html>
<head>
  <title>Tumblr Clone</title>
  <%= stylesheet_link_tag    "auth", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>	

<%= yield %>

</body>
</html>
